extends layout

block content
  script(src='/js/display.js')

  h1= bucket
  p Welcome to #{bucket} #{title}

  table
    each row in gifs
      tr
        each gif in row
          td
            figure
              img(src=`http://localhost:5000/${bucket}/${gif.gif}`)
              figcaption= gif.src
              button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='deleteGif("' + bucket + '","' + gif.gif + '")')
                p Delete Gif
  button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='deleteAllGif("' + bucket + '","' + gifs_raw + '")')
    p Delete all Gif
