extends layout

block content
  script(src='/js/videos.js')

  h1= bucket
  p Welcome to #{bucket} #{title}

  table
    tr
      th name
      th Make Gif
    each obj in objects
      tr
        td= obj
        td
          button(type='button' class=' c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='makeGif("' + bucket + '","' + obj + '")')
            p Make Gif
    tr
      td
      td
        button(type='button' class='c-btn-blue c-btn-circle c-btn-uppercase' value="Read More" onclick='makeGif("' + bucket + '")')
          p All Gif

  a(href=`/${bucket}/display` class='button c-btn-blue c-btn-circle c-btn-uppercase') Display

  #content
    p
