body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: #fff;
}

table {
  border-width: 3px;
  border-color: black;
  border-spacing: 5px;
}

td {
  padding: 5px;
}
